{% extends 'base.html' %}

{% block title %}Reserva{% endblock %}

{% block content %}
    <section class="page-head">
        <div class="container">
            <p class="eyebrow">EXERCÍCIO</p>
            <h1>Cadastro de reserva</h1>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <form method="post" class="form-card">
                {{ form.hidden_tag() }}
 
                <div>
                    {{form.responsavel.label}}
                    {{form.responsavel()}}
                </div>

                <div>
                    {{form.equipe.label}}
                    {{form.equipe()}}
                </div>

                <div>
                    {{form.sala_id.label}}
                    {{form.sala_id()}}                   
                </div>

                <div>
                    {{form.data.label}}
                    {{form.data()}}
                </div>

                <div>
                    {{form.hora_inicio.label}}
                    {{form.hora_inicio()}}
                </div>

                <div>
                    {{form.hora_fim.label}}
                    {{form.hora_fim()}}
                </div>

                <div>
                    {{form.finalidade.label}}
                    {{form.finalidade()}}
                </div>

                <div>
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </section>
{% endblock %}
