{% extends 'base.html' %}

{% block title %}Sala{% endblock %}

{% block content %}
    <section class="page-head">
        <div class="container">
            <p class="eyebrow">EXERCÍCIO</p>
            <h1>Cadastro de sala</h1>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <form method="post" class="form-card">
                {{ form.hidden_tag() }}

                <div>
                    {{ form.nome.label }}
                    {{ form.nome() }}
                </div>

                <div>
                    {{ form.tipo.label }}
                    {{ form.tipo() }}
                </div>

                <div>
                    {{ form.capacidade.label }}
                    {{ form.capacidade() }}
                </div>

                <div>
                    {{ form.descricao.label }}
                    {{ form.descricao() }}
                </div>

                <div>
                    {{ form.disponivel.label }}
                    {{ form.disponivel() }}
                </div>

                <div>
                    {{ form.submit() }}
                </div>
            </form>
        </div>
    </section>
{% endblock %}